.expenses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #1c1c1c;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-top: 5rem;
}

.no-expenses-message {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
