.expense-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #414141;
}

.expense-item-date {
  color: wheat;
}

.expense-item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-item-title {
  color: white;
  font-size: 2rem;
}

.expense-item-price {
  color: white;
  border: 2px solid white;
  background-color: #360052;
  border-radius: 12px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}
