* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #363636;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
